html, body {
  height: 100%;
}

.nav {
  list-style: none;
}

.nav-masthead .nav-link {
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
  border-bottom-color: transparent;
  font-size: x-large;
}

.nav-masthead .active {
  color: #fff;
  border-bottom: 0.25em solid #fff;
  margin-bottom: 2em;
}

.nav-link {
  display: block;
  padding: .5rem 1rem;
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

.cover-container {
  max-width: 42em;
}

.section {
  text-align: left;
  font-size: larger;
}

.section .subtitle {
  color: rgb(200, 200, 200);
  font-style: italic;
}

.inline-header-6 {
  font-weight: 500;
}

.btn-contact {
  background-color: #5E2750;
  border-color: rgba(0,0,0,0.2);
  color: white;
}

.btn-contact:first-child:hover, .btn-contact:hover, :not(.btn-check) + .btn-contact:hover, .btn-contact:active, .btn-contact:focus {
  background-color: #77216F;
  border-color: #5E2750;
}